body {
    background-color: #1B211A;
}

#container{
    background-color: #628141;
    width: 500px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5%;
}
h1 {
    text-align: center;
    color: black;
    font-family: Arial;
}
input{
    border-radius: 5px ;
    width: 100%;
    height: 30px;
    
}
#krasav {
    font-family: Arial;
    text-align: center;
}
