#container {
    width: 700px;
    padding: 4%;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
    
}
body {
    background-color: #18391a;

}
h1 {
    font-family: "IBM Plex Serif" ;
    font-size: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 7px;
    border-radius: 6px;
}
    

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 7px;
    font-family: Arial;
}

h2 {
   font-family: "IBM Plex Serif" ;
   text-align: center;
   font-size: 20px;
}
#collor {
    width: 60px;
    height: 30px;

}
button {
    display: block;
    margin-top: 7px;
    margin: 0 auto;
    height: 35px;
    text-align: center;
    border-radius: 6px;
    background-color: black;
    width: 80%;
    font-size: 18px;
    cursor:pointer ;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;

}

button:hover{
    background-color: white;
    color: black;
}
#rozdil {
    border: none;
    height: 2px;
    background-color: #000;
}