#container {
    margin: 0 auto;
    width: 700px;
    background-color: #628141;
    border-radius: 15px;
    padding: 3%;
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial;
}
body {
    background-color: #1B211A;
}
img {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}